name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"   # runs every 12 hours (more reliable)
  workflow_dispatch:

permissions:
  contents: write   # REQUIRED to push to output branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Mohd-Abuzar-Khan
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
